1. Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [1]:
 def check_square(length, breadth):
    if length == breadth:
        return True
    else:
        return False

length = float(input("Enter the length of the rectangle: "))
breadth = float(input("Enter the breadth of the rectangle: "))

if check_square(length, breadth):
    print("It is a square.")
else:
    print("It is not a square. ")

Enter the length of the rectangle: 8968
Enter the breadth of the rectangle: 7885
It is not a square.

2. Take three integer values from the user and print the greatest among them.

In [1]:
a= int(input("Enter the frist Number ="))
b= int(input("Enter the Second Number ="))
c= int(input("Enter the Third Number ="))
if (a>b)and(a>c):
    print("A is maximum: ",a)
elif(b>c):
    print("B is maximum: ",b)
else:
    print("C is maximum: ",c)

Enter the frist Number =98
Enter the Second Number =87
Enter the Third Number =87
A is maximum:  98

3. A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [2]:
def check_exam_eligibility(attendance_percentage):
    if attendance_percentage >= 75:
        return True
    else:
        return False

# Taking input from the user
attendance = float(input("Enter the attendance percentage: "))

# Checking exam eligibility
if check_exam_eligibility(attendance):
    print("You are allowed to sit in the exam.")
else:
    print("You are not allowed to sit in the exam due to low attendance.")

Enter the attendance percentage: 70
You are not allowed to sit in the exam due to low attendance.

4. A school has the following rules for the grading system:
Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+

In [3]:
Marks = int(input("Enter your marks: "))
if Marks>=90:
   print("Your Grade is A+")
elif Marks>=80:
     print("Your Grade is A")
elif Marks>=60:
     print("Your Grade is B")
elif Marks>=50:
     print("Your Grade is C")
elif Marks>=45:
     print("Your Grade is D")
elif Marks>=25:
     print("Your Grade is E")
else:
    print("Your Grade is F")

Enter your marks: 24
Your Grade is F

 5. Print the following pattern using for and while loop.
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [10]:
#for loop
for i in range(7, 3, -1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print()
#while loop
i = 7
while i >= 4:
    j = 1
    while j <= i:
        print(j, end=' ')
        j += 1
    print()
    i -= 1

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

6. Display numbers from -100 to -10 using for loop.

In [7]:
for num in range(-100, -9):
    print(num, end=' ')

-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10

7. Write a program to sum all prime numbers within a range of 10 to 1000.

In [8]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

lower_limit = 10
upper_limit = 1000
sum_of_primes = 0

for num in range(lower_limit, upper_limit + 1):
    if is_prime(num):
        sum_of_primes += num

print("Sum of prime numbers from", lower_limit, "to", upper_limit, "is:", sum_of_primes)

Sum of prime numbers from 10 to 1000 is: 76110

8. Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1).

In [9]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

n = 7
result = factorial(n)
print(f"The factorial of {n} is {result}")

The factorial of 7 is 5040

9. Reverse a given integer number 27956240710.

In [10]:
def reverse_integer(number):
    reversed_number = int(str(number)[::-1])
    return reversed_number

number = 27956240710
reversed_number = reverse_integer(number)
print(f"The reversed number is: {reversed_number}")

The reversed number is: 1704265972

In [ ]:
# 10. Print the following pattern using for and while loop.
# # #
# # # #
# # # 
# #

In [14]:


#while loop
def pattern(n):
   # print upper triangle
   i = 3
   while i<n:
      # printing stars
      print("# " * i)
      i+=1

   # print lower triangle
   i = n
   while i>=1:
      # printing stars
      print("# " * i)
      i-=1

n = 4

pattern(n)

for i in range(1,5):
    print("#"*i)

# # #
# # # #
# # #
# #
#
#
##
###
####

11. Display the Fibonacci series of 15 elements using the for and while loop.

In [14]:
#for loop
def fibonacci_with_for_loop(n):
    fib_series = [0, 1]
    for i in range(2, n):
        fib_series.append(fib_series[-1] + fib_series[-2])
    return fib_series

fibonacci_series_for = fibonacci_with_for_loop(15)
print(fibonacci_series_for)
#While loop
def fibonacci_with_while_loop(n):
    fib_series = [0, 1]
    while len(fib_series) < n:
        fib_series.append(fib_series[-1] + fib_series[-2])
    return fib_series

fibonacci_series_while = fibonacci_with_while_loop(15)
print(fibonacci_series_while)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

12. Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True]
Output = [1,3,5, [3,3], False]

In [25]:
List = [1, 3, 5, [2 ,3], True]
List.remove(2)
List.append(3)
List[-1] = False
print(List)

ValueError: list.remove(x): x not in list

13. Find the intersection (common) of two sets.
S1 = {1,4,6,8}
S2 = {True,1,2,10}

In [4]:
S1 = {1, 4, 6, 8}
S2 = {True, 1, 2, 10}

intersection_set = S1.intersection(S2)
# or alternatively
# intersection_set = S1 & S2

print(intersection_set)

{True}

14. Input a list from the user then Remove duplicates from a list and create a set and find the max
number. User_input = [1,9,3,4,5,200,54]

In [5]:
# Input list from the user
user_input = input("Enter a list of numbers separated by spaces: ")
user_input_list = list(map(int, user_input.split()))

# Remove duplicates and create a set
unique_set = set(user_input_list)

# Find the maximum number in the set
max_number = max(unique_set)

print("List without duplicates:", list(unique_set))
print("Maximum number:", max_number)

Enter a list of numbers separated by spaces: 54
List without duplicates: [54]
Maximum number: 54

15. Rename the key of a dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [6]:
dict_data = {"name": "Shakil", "age": 27, "city": "Berlin", "country": "Germany"}

# Renaming the key 'country' to 'region'
dict_data['region'] = dict_data.pop('country')

print(dict_data)

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

16. Creating a data frame using the list.
num = [10,100,300] (column name is number)

In [8]:
import pandas as pd

num = [10, 100, 300,786]
df = pd.DataFrame({'number': num})
print(df)

   number
0      10
1     100
2     300
3     786
4     989
5   99808

17. Change the value of a key in a given dictionary.
Write a Python program to change ‘age’ to 28 in the following dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany"

In [9]:
Dict = {"name": "Shakil", "age": 27, "city": "Berlin", "country": "Germany"}
Dict["age"] = 28
print(Dict)

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}